body{
    background-color: rgb(37, 38, 49);
    color: white;
    height: 100vh;
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
}
#content{
    height: 90vh
}
#action_selection{
    text-align: center;
    width: 100vw;
    font-size: 6vh;
    height: 10vh;
    color: white;
    background-color: rgb(37, 38, 49);
    border-bottom: 0px solid white ;
    border-top: 2px solid white ;
    border-right: 0px solid white ;
    border-left: 0px solid white ;
}
#add_product{
    display: none;
}
#show_products{
    display: none;
}
.header{
    margin-left: 10%;
    width: 80%;
    font-size: 4vh;
    padding-top: 8vh;
    text-align: center;
}
#add_item{
    display: inline-block;
    font-size: 8em;
    margin-left: 20%;
    margin-top: 8vh;
    width: 60vw;
    max-height: 50vh;
    aspect-ratio: 1/1;
    border: 2px solid white;
    border-radius: 15px;
    background-image: url("cam_icon.png");
    background-size: 100%;
}
#add_item_backend{
    display: none;
}

#product_info_container{
    font-size: 3vh;
    display: none;
    grid-template-columns: auto auto;
    width: 80vw;
    margin-left: 10vw;
    margin-top: 5vh;
}
.product_info_class {
    padding: 1vh
}.product_info_value{
    padding: 1vh
}
* {
margin: 0;
padding: 0;
box-sizing: border-box;
}