<!DOCTYPE html>
<html lang="de">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Dein Seitentitel</title>
    <link rel="stylesheet" type="text/css" href="static/stylesheet.css">
</head>
<script src="static/gui_control.js" defer></script>
<script src="https://ajax.googleapis.com/ajax/libs/jquery/2.1.1/jquery.min.js"></script>
<body>
    <div id="content">
        <div id="add_product">
            <div class="header">
                Produkt hinzufügen
            </div>
            <label for="add_item_backend" id="add_item"></label><br>
            <input id="add_item_backend" type="file" capture="environment" accept="image/*">

            <div id="product_info_container">
                <div class="product_info_class" id="detailname">Name: </div>
                <div class="product_info_value" id="detailname_value"></div>
                <div class="product_info_class" id="vendor">Vendor:</div>
                <div class="product_info_value" id="vendor_value"></div>
                <div class="product_info_class" id="origin">Origin: </div>
                <div class="product_info_value" id="origin_value"></div>
            </div>
        </div>
        <div id="show_products">
            <div class="header">
                Liste der Produkte
            </div>
        </div>
    </div>
    <button id="action_selection" onclick="add_item()">Hinzufügen</button>
</body>
</html>
